body {
	background: #222;
	/*padding-top: 70px;*/
}

.color_scheme {
	background: #666
}

.box {
	transition: all .25s ease-out;
}
.box:hover {
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,.5);
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,.5);
	transition: all .25s ease-out;
	z-index: 1000;
}